<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- acceder a internet para firebase-->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projecte7owls"
        tools:targetApi="31">
        <activity
            android:name=".presentation.LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.QuizActivity" />
        <activity android:name=".presentation.SignUpActivity" />
        <activity android:name=".presentation.ContadorActivity" />
        <activity android:name=".presentation.RouletteActivity" />
        <activity android:name=".presentation.ShopActivity" />
        <activity android:name=".presentation.ProfileActivity"/>
        <activity android:name=".presentation.ImagesActivity"/>


    </application>


</manifest>